{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subhasish</title>
</head>
{% block contant %}
<body>
    <div class="first">
        Subhasish
    </div>
    <div class="second">
        Hi, my name is Subhasish Das, <br> 
        I have completed B.Sc Phyisc from Contai Prabhat Kumar College
    </div>
    <div class="third">
        My Adress: <br>
        Vill+P.O- Karalda Nimakbar <br>
        P.S- Marishda <br>
        Block- Contai-III <br>
        Dist- Purba Midnapur <br>
        Pin- 721455
    </div>
    <div class="education">
        Educational Details: <br>
        10th and 12 th - Pichhabani Bani Niketan High School <br>
        Graduate- B.sc Phyisc Graduate from Conati Prabhat Kumar College
    </div>
</body>
{% endblock contant %}
</html>