{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subhasish</title>
</head>
{% block contant %}
<link rel="stylesheet" href="/media/css/style.css">
<body>
      <h1>Nimcet-2014-previous-year-paper <br>
        <embed class="document" src="/media/document/nimcet-2014-previous-year-paper-33283ce7.pdf" width="600" height="375" type="application/pdf">
      </h1>
      <h1>Nimcet-2015-previous-year-paper <br>
        <embed class="document" src="/media/document/nimcet-2015-previous-year-paper-ca48c181.pdf" width="600" height="375" type="application/pdf">
      </h1>
      <h1>Nimcet-2016-previous-year-paper <br>
        <embed class="document" src="/media/document/nimcet-2016-previous-year-paper-df6498a0.pdf" width="600" height="375" type="application/pdf">
      </h1>
      <h1>Nimcet-2017-previous-year-paper <br>
        <embed class="document"  src="/media/document/nimcet-2017-previous-year-paper-ce57fc0f.pdf" width="600" height="375" type="application/pdf">
      </h1>
      <h1>Nimcet-2018-previous-year-paper <br>
        <embed class="document" src="/media/document/nimcet-2018-previous-year-paper-30b211d7.pdf" width="600" height="375" type="application/pdf">
      </h1>
      <h1>Nimcet-2019-previous-year-paper <br>
        <embed class="document" src="/media/document/nimcet-2019-previous-year-paper-85eb3367.pdf" width="600" height="375" type="application/pdf">
      </h1>
      <h1>Nimcet-2020-previous-year-paper <br>
        <embed class="document" src="/media/document/nimcet-2020-previous-year-paper-da3ca465.pdf" width="600" height="375" type="application/pdf">
      </h1>
      </main>
</body>
{% endblock contant %}
</html>