<html>
    <link rel="stylesheet" href="/static/css/footer.css">
    <footer class="footer">
        <div class="link">
            <a class="youtube" href="https://www.youtube.com/@subhasish-subhasish",><img src="/static/media/svg/youtube-red.svg" alt="Youtube"></a>
            <a class="linkdin" href="https://www.linkedin.com/in/subhasishsubhasish/"><img src="/static/media/svg/linkedin-custom.svg" alt="Linkdin"></a> 
            <a class="instagram" href="https://www.instagram.com/subhasish_subhasish/"><img src="/static/media/svg/instagram-custom.svg" alt="Instagram"></a>
            <a class="facebook" href="https://www.facebook.com/subhasishphysics/"><img src="/static/media/svg/facebook-blue.svg" alt="Facebook"></a>
            <a class="threads" href="https://www.threads.net/@subhasish_subhasish"><img src="/static/media/svg/instagram-threads.svg" alt="Threads"></a>
            <a class="twitter" href="https://twitter.com/SubhasishdasDas/"><img src="/static/media/svg/twitter-custom.svg" alt="Twitter"></a>
            <a class="github" href="https://github.com/subhasish-subhasish/"><img src="/static/media/svg/github.svg" alt="Github"></a>
            <a class="github" href="https://wa.me/917029847241"><img src="/static/media/svg/whatsapp.svg" alt="Github"></a>
            
        </div>
        <div class="other">
            <p>All rights reserved by Subhasish</p>
        </div>
    </footer>
</html>