
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/media/css/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block contant %}
<body>
  <div class="image">
      <img class="photo" src="/media/photo/995-dark-desktop-wallpaper.jpg" alt="">
      <img class="photo" src="/media/photo/634841-studio-ghibli-desktop-wallpaper-top-free-studio-ghibli-desktop-background.jpg" alt="">
      <img class="photo" src="/media/photo/wallpaper-season-wallpapers-fresh-bright-spring-nature-r1nhzefx-hdnature.jpg" alt="">
      <img class="photo" src="/media/photo/394250-minimalist-sunset-wallpaper-top-free-minimalist-sunset.jpg" alt="">
      <img class="photo" src="/media/photo/475840-4k-dark-sunset-2560x1080-resolution-wallpaper-hd-nature-4k-wallpaper-image-photo-and-background.jpg" alt="">
      <img class="photo" src="/media/photo/634887-nature-wallpaper-hd-desktop-image-sky-amazing-clean-wallpaper-hd-1280x720-wallpaper-teahubio.jpg" alt="">
      <img class="photo" src="/media/photo/475812-striking-dark-wallpaper-sites-that-are-perfect-for-your-desktop.jpg" alt="">
      <img class="photo" src="/media/photo/191068-free-download-40-dark-wallpaper-image-in-4k-for-desktop-laptop.jpg" alt="">
      <img class="photo" src="/media/photo/475843-tree-alone-dark-evening-4k-hd-desktop-wallpaper-widescreen-high-definition-fullscreen.jpg" alt="">
      <img class="photo" src="/media/photo/634782-london-big-ben-minimalism-wallpaper-hd-minimalist-4k-wallpaper-image-photo-and-background.jpg" alt="">
      <img class="photo" src="/media/photo/49023-dark-desktop-background-hd-32-wallpaper-adorable-wallpaper.jpg" alt="">
      <img class="photo" src="/media/photo/995-dark-desktop-wallpaper.jpg" alt="">
      <img class="photo" src="/media/photo/pexels-hitarth-jadhav-220357.jpg" alt="">
      <img class="photo" src="/media/photo/394250-minimalist-sunset-wallpaper-top-free-minimalist-sunset.jpg" alt="">
      <img class="photo" src="/media/photo/wallpaper-season-wallpapers-fresh-bright-spring-nature-r1nhzefx-hdnature.jpg" alt="">
      <img class="photo" src="/media/photo/468125-fortnite-minimal-clock-tower-4k-minimalist-wallpaper-minimalism-wallpaper-hd-wallpaper-games-wallpaper-clock-wallpaper-minimalist-wallpaper-art-wallpaper.jpg" alt="">
      <img class="photo" src="/media/photo/WIP-6th-anniversary-wallpaper-dark.jpg" alt="">
      <img class="photo" src="/media/photo/wallpaper-season-wallpapers-fresh-bright-spring-nature-r1nhzefx-hdnature.jpg" alt="">
      <img class="photo" src="/media/photo/pexels-hitarth-jadhav-220357.jpg" alt="">
      <img class="photo" src="/media/photo/995-dark-desktop-wallpaper.jpg" alt="">
      <img class="photo" src="/media/photo/634892-lightbulb-minimalism-wallpaper-mocah-hd-wallpaper.jpg" alt="">
      <img class="photo" src="/media/photo/235369-polygon-mountains-minimalist-hd-artist-4k-wallpaper-image.jpg" alt="">
      <img class="photo" src="/media/photo/475828-dark-abstract-wallpaper-hd-for-desktop-background.jpg" alt="">
      <img class="photo" src="/media/photo/634765-clean-pc-wallpaper-top-free-clean-pc-background.jpg" alt="">
  </div>
</body>
{% endblock contant %}
</html>