{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3401875806818377"
     crossorigin="anonymous"></script>
</head>
{% block contant %}
<link rel="stylesheet" href="/media/css/style.css">
<body>
    <div class="song">
        <audio controls>
            <source src="/media/Humein Tumse Hua Hai Pyar  4k HD Video  Udit Narayan Alka Yagnik  Akshay Kumar Divya Khosla.mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        <audio controls>
            <source src="/media/Chaand-Ki-Chaandni_(webmusic.in).mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        <audio controls>
            <source src="/media/Chahney-Lage-Tumhein_(webmusic.in) Subhasish Das 9635944339 9635478229 .mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        <audio controls>
            <source src="/media/Humein Tumse Hua Hai Pyar  4k HD Video  Udit Narayan Alka Yagnik  Akshay Kumar Divya Khosla.mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        <audio controls>
            <source src="/media/Dil pe tere pyar ka  Subhasish Das 9635944339 9635478229 .mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        <audio controls>
            <source src="/media/BARSAAT KE MAUSAM MAIN(NAAJAYAZ) Subhasish Das 9635944339 9635478229 .mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        <audio controls>
            <source src="/media/Ajnabi mujhko itna bata Subhasish Das 9635944339 9635478229 .mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        <audio controls>
            <source src="/media/Ae Zindagi Tune Mujhpe -  640x360   Webmusic.IN Subhasish Das 9635944339 9635478229 .mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        <audio controls>
            <source src="/media/CHA HA THA TUJA HADH @ Subhasish Das 9635944339 9635478229 .mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        <audio controls>
            <source src="/media/CHAHA HAI TUJHEKO Subhasish Das 9635944339 9635478229 .mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        <audio controls>
            <source src="/media/Dil gabrata hay  @ Subhasish Das 9635944339 9635478229 .mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        <audio controls>
            <source src="/media/Doob-Gaye-Mere-Nain-Saajan Subhasish Das 9635944339 9635478229 .mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
     </audio>
    </div>
</body>
{% endblock contant %}
</html>