{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIDEO</title>
</head>
{% block contant %}
<link rel="stylesheet" href="/media/css/style.css">
<body>
    <video width="350" height="240" controls=>
        <source src="/media/Humein Tumse Hua Hai Pyar  4k HD Video  Udit Narayan Alka Yagnik  Akshay Kumar Divya Khosla.mp4" type="video/mp4">
    </video>
    <video width="350" height="240" controls controlsList="nodownload">    
        <source src="/media/Kitni Bechain Hoke (Full 4K Video Song)  Udit Narayan  Alka Yagnik  Kasoor Movie  Hitz Music.mp4" type="video/mp4">
    </video>
    <video width="350" height="240" controls controlsList="nodownload">
        <source src="/media/Aap Mujhe Achche Lagne Lage HD Song  Alka Yagnik Abhijeet  Hrithik Roshan Amisha Patel  90s Hit.mp4" type="video/mp4">
    </video>
    <video width="350" height="240" controls controlsList="nodownload">
        <source src="/media/Tujhko Na Dekhun To Ji Ghabrata  Jaanwar Songs HD  Akshay Kumar  Udit Narayan  90s Song.mp4" type="video/mp4">
    </video>
    <video width="350" height="240" controls controlsList="nodownload">
        <source src="/media/Tum Dil Ki Dhadkan Mein - HD VIDEO  Suniel Shetty & Shilpa Shetty  Dhadkan  Hindi Romantic Songs.mp4" type="video/mp4">
    </video>
    <video width="350" height="240" controls controlsList="nodownload">
        <source src="/media/Mujhse Shadi Karogi Full Song  Mujhse Shaadi Karogi.mp4" type="video/mp4">
    </video>
    <video width="350" height="240" controls controlsList="nodownload">
        <source src="/media/Achchi Lagti Ho - Full Video  Kuch Naa Kaho  Abhishek Bachchan & Aishwarya Rai Bachchan.mp4" type="video/mp4">
    </video>
    <video width="350" height="240" controls controlsList="nodownload">
        <source src="/media/Aankhon Mein Base Ho Tum -  Abhijeet - Alka Yagnik  Sunil Shetty Sonali Bendre   Romantic Songs.mp4" type="video/mp4">
    </video>
    <video width="350" height="240" controls controlsList="nodownload">
        <source src="/media/Betab Dil Hai Dhadkano Ki Kasam  Salman Khan  Shilpa Shetty  4K Video Song  🎧 HD Audio.mp4" type="video/mp4">
    </video>
</body>
{% endblock contant %}
</html>